@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #0000A3;
  --blue-garatto: #0067B3;
  --aquamarine: #40B0DF;
  --light-black: #313131;
  --yellow: #F68802;
  --yellow2: #FFD530;
  --white: #FFFFFF;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.img-fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;/* Adjust width as needed */
  height: 100%;/* Adjust height as needed */
  z-index: -1;/* Move the image behind other content */
  opacity: 1;/* Adjust opacity as needed */
}

.main-logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;/* Horizontal centering */
  align-items: center;/* Vertical centering */
  height: 100%;/* Ensure the div takes up the full height */
}

.main-logo img {
  max-width: 60%;
  max-height: 50%;
}

.login-form-container {
  position: relative;
  z-index: 99;
  background-color: #ffffff;
  padding: 25px;
  max-width: 430px;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 60px;
  margin-left: 100px;
}

.btn-login-link {
  text-decoration: none;
  color: var(--white);
}

.btn-Login {
  margin-top: 10px;
  margin-bottom: 3px;
  background-color: var(--main-color);
  padding: 8px;
  width: 100%;
  border-radius: 7px;
  color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.form-label {
  font-size: 14px;
}

.welcome-b-title {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-title {
  font-weight: bold;
  font-size: 33px;
}

.form-label {
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.form-check-label {
  font-size: small;
}

.form-check-label {
  font-size: 13px;
  display: inline-block;
}

.forgot-password-link {
  float: right;
  font-size: 13px;
  margin-top: 2.4px;
  text-decoration: none;
  color: var(--main-color);
}

.sign-up-link-opt {
  font-size: 13px;
  text-align: center;
  margin-top: 25px;
}

.sign-up-click {
  text-decoration: none;
}

.sign-in-options {
  margin-top: 15px;
  text-align: center;
}

.social-login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.social-login {
  width: 180px;
  background-color: #FFFFFF;
  border: 1px solid #062284;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.social-login img {
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
}

.social-login:hover {
  background-color: #e0e0e0;
}

.or-login-with {
  text-align: center;
  position: relative;
}

.or-login-p {
  display: inline-block;
  font-size: smaller;
  color: #000000;
  font-weight: bolder;
  opacity: 30%;
}

.or-login-p::before,
.or-login-p::after {
  content: "";
  position: absolute;
  top: 30%;
  width: 35%;
  border-top: 1px solid #000000;
  opacity: 30%;
}

.or-login-p::before {
  left: 0;
  margin-left: 0%;
}

.or-login-p::after {
  right: 0;
  margin-right: 0%;
}

.dontthave-cc {
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
}

.link-Sign-up {
  text-decoration: none;
  color: var(--main-color);
}

.blue-square {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 750px;
  height: 90%;
  background-color: #0000a3c5;
  z-index: 2;
  border-top-left-radius: 700px;
}

.learn-more-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 50px;
  border: 3px solid #1C40FF;
  border-radius: 5px;
  padding: 4px;
  width: 120px;
  height: 40px;
  color: #4D8AFF;
  background-color: transparent;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}

.learn-more-btn:hover {
  background-color: #1C40FF;
  color: #ffffff;
}

.blue-title {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 265px;
  margin-right: 30px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: bolder;
  line-height: 1.2;
  text-align: right;
}

.blue-para {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 18px;
  margin-bottom: 170px;
  margin-right: 30px;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: right;
}

.image-container {
  position: fixed;
  top: 300px;
  right: -100px;
  transform: translate(-55%, -50%);
}

.image-container img {
  width: 500px;
  height: auto;
  display: none;
}

.image-container img.active {
  display: block;
}

.mb-3 {
  margin-top: 1px;
}

/*start slider and dots*/
.slider-container {
  position: fixed;
  overflow: hidden;
  width: 430px;
  margin-left: 100px;
  padding: 10px;/* Add padding to give some space */
}

.dots {
  text-align: center;/* Align dots to the left */
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: var(--main-color);
}

/*end slider and dots*/

/*New Media querry*/
/* Extra large devices (large laptops and desktops, 1800px  ) */
@media only screen and (max-width: 1800px) {
  .login-form-container {
    max-width: 400px;
  }
  .slider-container {
    max-width: 400px;
  }
  .image-container {
    top: 250px;
    right: -150px;
  }
  .image-container img {
    width: 500px;
  }
  .blue-square {
    width: 550px;
  }
  .blue-title {
    font-size: 34px;
  }
  .blue-para {
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px ) */
@media only screen and (max-width: 1200px) {
  .login-form-container {
    max-width: 350px;
    margin-left: 60px;
  }
  .slider-container {
    max-width: 350px;
    margin-left: 60px;
  }

  .image-container {
    top: 250px;
    right: -150px;
  }
  .image-container img {
    width: 450px;
  }
  .blue-square {
    width: 500px;
  }
  .blue-title {
    font-size: 33px;
  }
  .blue-para {
    font-size: 17px;
  }
}

/* Large devices (laptops/desktops, 992px ) */
@media only screen and (max-width: 992px) {
  .login-form-container {
    max-width: 310px;
    margin-left: 40px;
  }
  .slider-container {
    max-width: 310px;
    margin-left: 40px;
  }
  .image-container img {
    width: 420px;
  }
  .image-container {
    top: 260px;
    right: -170px;
  }
  .welcome-b-title {
    font-size: 13px;
  }
  .login-title {
    font-size: 30px;
  }
  .blue-square {
    width: 400px;
  }
  .blue-title {
    font-size: 26px;
  }
  .blue-para {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px) */
@media only screen and (max-width: 768px) {
  .login-form-container {
    max-width: 280px;
    margin-left: 20px;
    padding: 15px;
  }
  .slider-container {
    max-width: 280px;
    margin-left: 20px;
  }
  .image-container img {
    width: 340px;
  }
  .image-container {
    top: 220px;
    right: -150px;
  }
  .welcome-b-title {
    font-size: 12px;
  }
  .login-title {
    font-size: 28px;
  }
  .blue-square {
    width: 300px;
  }
  .blue-title {
    font-size: 20px;
    margin-right: 20px;
  }
  .blue-para {
    font-size: 12px;
    margin-bottom: 190px;
    margin-right: 20px;
  }
  .learn-more-btn {
    margin-right: 20px;
  }
}

/* Small devices (large phones) */
@media only screen and (max-width: 620px) {
  .slider-container {
    display: none;
  }
  .blue-square {
    display: none;
  }
  .login-form-container {
    margin: 0;
    max-width: 320px;
    padding: 20px;
  }

body {
  height: 100vh;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
}

/*height media querry*/
@media only screen and (max-height: 710px) {
  .image-container img {
    width: 340px;
  }
  .image-container {
    top: 190px;
  }

  .main-logo {
    margin-bottom: 10px;
  }
  .login-form-container {
    margin-top: 30px;
  }
  .dontthave-cc {
    margin-top: 10px;
  }
  .dots {
    margin-top: 5px;
  }
  .social-login {
    margin: 0px 5px;
  }

}

  /* Styles for iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px){
  .login-form-container {
    max-width: 400px;
    margin-top: 250px;
    margin-left: 50px;
  }
  .slider-container {
    max-width: 400px;
    margin-left: 50px;
  }
  .image-container {
    top: 400px;
    right: -290px;
  }
  .image-container img {
    width: 570px;
  }
  .blue-title {
    margin-bottom: 580px;
  }
  .blue-para {
    font-size: 19px;
    margin-bottom: 450px;
  }
  .learn-more-btn {
    width: 430px;
    height: 50px;
    font-size: 20px;
  }
}
  /* Styles for iPad Air */
  @media only screen and (min-device-width: 820px) and (max-device-width: 820px) and (min-device-height: 1180px) and (max-device-height: 1180px) {
    .login-form-container {
      max-width: 360px;
      margin-top: 250px;
      margin-left: 30px;
    }
    .slider-container {
      max-width: 360px;
      margin-left: 30px;
    }
    .image-container {
      top: 290px;
      right: -290px;
    }
    .image-container img {
      width: 480px;
    }
    .blue-title {
      margin-bottom: 560px;
    }
    .blue-para {
      font-size: 17px;
      margin-bottom: 450px;
    }
    .learn-more-btn {
      width: 330px;
      height: 50px;
      font-size: 20px;
    }
  }