@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --main-color:#0000A3;
  --blue-garatto: #0067B3;
  --aquamarine: #40B0DF;
  --light-black: #313131;
  --yellow: #F68802;
  --yellow2: #FFD530;
  --white: #FFFFFF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #fafafa;
  color: white;
  height: 110px;
}

/* drop-down */
.navbar {
  position: relative;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}


.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.menu-item {
  position: relative;
  display: inline-block;
}

/*navbar chenged*/
#menu-link {
  color: black;
}

.fa-moon {
  color: #bdbdbd;
}


.brand-logo {
  margin-left: 10px;
  margin-bottom: 18px;
}

/**/
.menu-link {
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  display: inline-flex;
}

.fa-angle-down {
  color: #000000;
  padding-left: 10px;
  align-self: center;
  font-size: 1rem;
}

.fa-angle-down-2 {
  color: #ffffff;
  padding-left: 10px;
  align-self: center;
  font-size: 1rem;
}

.menu-item.active .fa-angle-down {
  transform: rotate(180deg);
}

.menu-item.active .fa-angle-down-2 {
  transform: rotate(180deg);
}

/* Mega menu dropdown */
.dropdown {
  display: none;
  position: absolute;
  background-color: var(--blue-garatto);
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  padding: 0;
  margin: 0;
  margin-left: -370px;
}

.bb{
  margin-left: -180px;
}

@media screen and (max-width: 100vw) {
  .dropdown {
    width: 101vw;
    box-sizing: border-box;
  }

  .bb{
    width: 85vw;
  }
}

@media screen and (max-width: 100vw) {
  .dropdown-1{
    width: 20vw;
    box-sizing: border-box;
  }
}

.dropdown>ul {
  margin-left: 0;
}

/* Sub-sections of the mega menu */
.dropdown-section {
  width: 25%;
  float: left;
  padding: 10px;
}

.dropdown-section .main-topic {
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 0.5px solid #ffffff;
  margin-bottom: 10px;
}

.dropdown-section a {
  color: #a9b8d0;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 14px;
}


/* Clearfix for the float */
.dropdown::after {
  content: "";
  display: table;
  clear: both;
}


.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-item:hover .dropdown {
  display: block;
}

.main-topic {
  color: white;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}

.subtopics a {
  color: #a9b8d0;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}

#navbar .nav-container {
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Brand Logo */
.brand-logo img {
  vertical-align: middle;
}


/* Navigation Menu */
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: auto;
  margin-left: 5%;
  position: static;
}

.nav-menu li {
  padding: 0 10px;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

/* Search Bar */
.nav-search {
  position: relative;
  margin-right: 50px;
  margin-left: 20px;
}

.nav-search input {
  padding-left: 30px;
  border: 2px solid #DFDEE0;
  border-radius: 4px;
  height: 35px;
  width: 280px;
  background-color: #DFDEE0;
  color: rgba(0, 0, 0, 0.42);
  font-size: 14px;
  outline: none;
}

.nav-search .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.42);
  font-size: 13px;
  pointer-events: none;
}


/* Icons and Profile */
.nav-items {
  display: flex;
  align-items: center;
}

.nav-items img.flag,
.nav-items i.fas.fa-moon,
.nav-items img.user {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 20px;
}

.nav-items i.fas.fa-moon {
  padding-top: 4px;
  font-size: 25px;
}

.nav-items img.user {
  border-radius: 50%;
}


/* Submenu styles */
.submenu {
  background-color: #0000A3;
  display: flex;
  justify-content: center;
  line-height: 60px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  */
  margin: 0;
  border: 1px solid rgba(34, 34, 34, 0.3);
}

.submenu-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

/* Submenu title */
.submenu-title span {
  font-size: 24px;
  color: #f8f8f8;
  font-weight: bold;
  padding-right: 30px;
}

.submenu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.submenu-list li {
  padding: 0 20px;
}

/* Change color for the 'Projects' link using a class */
.submenu-list .projects-link {
  color: #ffffff;
}

.submenu-list .jobs-link {
  color: rgba(255, 255, 255, 0.5);
}

.submenu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.submenu-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.submenu-actions button {
  padding: 10px 20px;
  background-color: #0000A3;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  color: #cacaca9f;
}

.submenu-actions .fa-angle-down {
  color: #ffffff;
  padding-left: 10px;
  align-self: center;
  font-size: 1 rem;
}

.submenu-actions button:hover {
  background-color: #0000f3;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on button click */
.show {
  display: block;
}






/*button dropdown*/

.dropbtn {

  color: 062284;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.submenu-actions {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #33363F;
  padding: 2px 2px 2px 20px;
  text-decoration: none;
  display: block;
}

.submenu-actions a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.project-search-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.menu-icons ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}